*{
    
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  
  
color: aliceblue;
font-size:x-large;
text-align: center;
justify-content: center;
background-image: url(abstract-geometric-background-in-bright-colors-free-vector.jpg);

/* background-size: contain; */
/* background-repeat: no-repeat; */
top: 95%;
left: 50%;
/* transform: translate(-50%,-50%); */
/* position: absolute; */
}